In [22]:
import yfinance as yf  
import pandas as pd
import datetime

In [2]:
rate = yf.download('AAPL','2010-01-01','2022-10-04').Close/1000
data = yf.download('^DJI','2010-01-01','2022-10-04').Close
extend_dates = yf.download('^DJI','2009-01-01','2023-01-04').Close.index

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
def excess_return(rate, il, dates):
    eril = pd.DataFrame(columns = ["eril"], index= dates)
    eril.iloc[0] = 1000
    prev_date = dates[0]
    for date in dates[1:]:
        act = date - prev_date 
        #print(
        eril.loc[date] = eril.loc[prev_date]*((il.loc[date]/il.loc[prev_date])-rate.loc[str(prev_date).split(' ')[0]] * act.days/360)
        prev_date = date 
    return eril

In [34]:
a = data.index[1] - data.index[0]

In [73]:
#rate.loc[str(prev_date).split(' ')[0]]
rate.loc['2010-06-29']
str(prev_date).split(' ')[0]

'2009-12-31'

In [70]:
len(rate)
#len(data)

3211

In [76]:
dates = data.index
il =data 

eril = pd.DataFrame(columns = ["eril"], index= dates)
eril.iloc[0] = 1000
prev_date = dates[0]
for date in dates[1:]:
    act = date - prev_date 
    #print((il.loc[date]/il.loc[prev_date])- rate.loc[str(prev_date).split(' ')[0]])
    eril.loc[date] = eril.loc[prev_date]*((il.loc[date]/il.loc[prev_date])-rate.loc[str(prev_date).split(' ')[0]] * act.days/360)
    prev_date = date

In [25]:
type(extend_dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [28]:
rate.index

DatetimeIndex(['2008-12-31', '2009-01-02', '2009-01-05', '2009-01-06',
               '2009-01-07', '2009-01-08', '2009-01-09', '2009-01-12',
               '2009-01-13', '2009-01-14',
               ...
               '2022-12-19', '2022-12-20', '2022-12-21', '2022-12-22',
               '2022-12-23', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2023-01-03'],
              dtype='datetime64[ns]', name='Date', length=3526, freq=None)

In [36]:
rate = rate.reindex(extend_dates)
rate = rate.fillna(method="ffill")
#rate.loc['2011-01-13']
rate

0.007643214225769043

In [84]:
excess_return(rate, data, data.index)

                   eril
Date
2009-12-31         1000
2010-01-04  1014.867414
2010-01-05  1013.700931
2010-01-06  1013.838557
2010-01-07  1016.998807
...                 ...
2022-09-27  1476.135939
2022-09-28  1503.316304
2022-09-29  1479.488811
2022-09-30  1453.586707
2022-10-03  1490.642953

[3211 rows x 1 columns]